/* Css styling for the general page */

body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Css styling for the grid container */

.grid-container {
    display: flex;
    height: 100vh; /* This will make it span the full height of the viewport */
}

.grid-container .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.grid-container .col .cell {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 3px;
    flex: 1;
}

button {
    position: relative;
    left: 50%;
}

/* .test-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
